# Copie para C:\etl_monitor\monitor_etl.env (ou aponte MONITOR_ETL_ENV) e preencha.
# Este arquivo NUNCA vai para o git.
POSTGRES_HOST=10.2.2.66
POSTGRES_PORT=1036
POSTGRES_DBNAME=dw_trt
POSTGRES_USER=app_dw_trt
POSTGRES_PASSWORD=
ORACLE_USER=eg
ORACLE_PASSWORD=
